DATABASE_URL="postgresql://user:password@host:5432/dbname?schema=gymflow_dev"
DATABASE_URL_DEV="postgresql://user:password@host:5432/dbname?schema=gymflow_dev"
DATABASE_URL_PROD="postgresql://user:password@host:5432/dbname?schema=gymflow_prod"
